@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');
@import 'common-app.scss';
@import 'course-planner.scss';

body {
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;

  h1, h2, h3, h4, h5, h6, p, span, div {
    color: #333;
  }
}

a {
  text-decoration: none;
}

.overall {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.caseTitle {
  padding: 0 20px;

  p {
    font-weight: bold;
    font-size: 14px;
    color: #777;
    margin: 20px 0;
  }

  .statusUpdate {
    // font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    color: #333;
  }
}

#root {
  height: 100%;

  h1 {
    color: #333;
    font-size: 1.6rem;
  }

  h2 {
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.85rem;
  }

  .case {
    padding: 0 20px;

    &:last-child {
      padding-bottom: 5rem;
    }

    :first-child {
      h2 {
        margin: 0;
        margin-left: 8px;
      }
    }
  }
}

.tuition-assistance-header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;

  h1 {
    margin-right: auto;
    margin-left: 20px;
  }
}

.svg-inline--fa {
  color: #333;
}

.fa-hands-helping, .fa-user, .fa-comments, .fa-bars {
  color: white;
}

.flex-spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  color: black;
  font-size: 15px;
  margin-top: 6px;
}

p {
  color: black;
  font-size: 15px;
}

.footerChild {
  width: 100%;

  p {
    color: white;
    margin: 0;
    margin-top: 0.4rem;
    font-size: 10px;
    font-weight: normal;
    // letter-spacing: 0.05em;
  }
}

#root .caseHeader {
  display: flex;
  align-items: center;

  h2 {
    margin-left: 10px;
  }

  &:nth-child(3) {
    margin-bottom: calc(0.85rem + 8px);

    h2 {
      margin: 0;
      margin-left: 10px;
    }
  }
}

.fa-dot-circle {
  color: #333;
}

.tableHeader {
  color: #666;
}

.bottomMenu {
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
    color: #F0C23B;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
  }
}

.fa-angle-right, .fa-ellipsis-v {
  color: #f0c23b
}

.bottomMenu a.active {
    background-color: #444;
    color: white;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 6px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #d4d4d4;
  }
}

.nobullets {
  list-style-type: none;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
  padding-left: 0px;
}

.resize {
  display: block;
  width: 32px;
  margin-right: 10px;
}

.TA-btn {
  display: flex;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  color: #333;
  margin: 12px 0;
  text-decoration: none;
  font-weight: bold;

  span {
    line-height: 1;
    font-size: 14px;
    margin-right: 8px;
  }

  .fa-angle-right {
    font-size: 22px;
  }
}

textarea {
  border-radius: 4px;
}

.topBar {
  background-color: #333;
  background-color: #F0C23B;
  background-color: #f6d12e;
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: white;
    color: #333;
  }
}

.fa-ellpsis-v {
  color: #f0c23b
}

#ellipsisMenu {
  position: relative;
  z-index: 99;

  #statusDropdown {
    padding: 0 10px;

    .dropdownRow {
      margin: 0;
      padding: 4px 6px;
    }
  }

  .dropdown {
    border: 1px solid #ddd;
    padding: 0px 30px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05);
    background-color: #eee;
    position: absolute;
    top: 26px;
    left: 0;
    white-space: nowrap;

    $padding: 10px;

    .dropdownRow {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 10px 22px;
      // margin: 0px -10px;
      margin-left: -10px;
      margin-right: -10px;

      a {
        text-decoration: none;
        color: #333;
        margin: 12px 0;
        line-height: 1;
      }

      &:last-child {
        border-bottom: none;
      }

      span {
        margin-left: 22px;
      }
    }

    > ul {
      list-style: none;
      padding: 0 0px;
      margin: 8px 0;
    }
  }
}

.hamburgerMenu {
  list-style: none;
  text-align: left;
  padding: 0;

  > li {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: center;

    span {
      margin-left: 10px;
    }
  }
}

$sidePadding: 18px;

.commonForm {
  padding: 0 $sidePadding;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h1 {
    margin-top: 22px;
  }

  h3 {
    font-size: 16px;
  }

  h2, h3 {
    margin-bottom: 4px;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  input {
    box-sizing: border-box;
    padding: 10px 12px;
  }

  .fieldLabel {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .fullWidth {
    width: 100%;
  }

  .shortWidth {
    width: 35%;
  }
}

#searchSection {
  padding: 0 $sidePadding;
  padding-bottom: 28px;
  margin-top: 40px;
  border-bottom: 1px solid #ddd;
  margin-left: -$sidePadding;
  margin-right: -$sidePadding;
}

$boxShadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

#searchResultsSection, .requestTaForm {
  a {
    display: inline-block;
    text-align: center;
    background-color: #4979c1;
    border: 1px solid transparent;
    color: white;
    padding: 10px 0;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: $boxShadow;

    &:focus {
      outline: none;
    }
  }

  .schoolIcon {
    color: #999
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0;

    label {
      color: #999;
      font-size: 14px;
      margin-bottom: 6px;
    }

    span {
      font-size: 14px;
    }
  }

  article {
    padding-bottom: 4rem;

    &:last-child {
      padding-bottom: 8rem;
    }
  }

  .longSection {
    flex-direction: column;
  }

  .titleSection {
    flex-direction: row;

    label {
      color: #333;
      margin-left: 10px;
    }
  }

  .cancel {
    background-color: hsl(15, 100%, 43%);
    margin-top: 10px;
  }
}

#enrollSection {
  label {
    margin-left: 0;
  }
}

#cost {
  background-color: #f4f4f4;
  margin: 0 -$sidePadding;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px $sidePadding;
}
